
.Show-body{
  height: 100%;
}
.Show-title{
  margin: 10px 0px 10px 0px;
  font-size: 15px;
  padding: 0px 0px 0px 10px;
  color: green;
}
.show-text{
  margin: 20px 0px 20px 20px;
}
.Show-registration{
  width: 40vw;
  text-align: justify;
  padding: 20px;
}
.Form-main{
  display: flex;
  border-top: solid 4px green;
}
.Form-comment{
  margin: 10px;
  .Form-title{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
  }
}
.Form-comment__comment-content{
  display: flex;
  flex-direction: column;
  &__comment-tag{
    margin: 20px 10px 10px 20px ;
  }
  .input-name{
    width: 30vw;
    height: 5vh;
    padding: 0px 10px;
  }
  .input-text{
    width: 40vw;
    height: 40vh;
    padding: 10px;
  }
  &__comment-btn{
    margin: 10px 0px 10px 20px;
    width: 80px;
  }
}

.Comment{
  padding: 20px 0px;
  margin: 20px 0px 0px 20px;
  &__comment-box{
    display: flex;
    flex-direction: column;
    &__comment-answer{
      border: solid 2px blue;
      background-color: #ffffff;
      width: 43vw;
      height: 50vh;
      margin: 20px  0px 20px  20px;
      padding: 10px 8px 10px 8px;
      &__answer-box{
        display: flex;
        &__answer-name{
          padding: 0px 8px;
        }
      }
      &__answer-text{
        height: 100px;
        margin: 15px 0px ;
        padding: 18px 8px;
        border-top: dashed 2px black;
      }
    }
  }
}