.fc-center{
  font-size: 50px;
}
.List{
  font-size: 15px;
  font-weight: bold;
}
.New-content{
  font-size: large;
  font-weight: bold;
  margin-bottom: 10px;
}
.fc-corner-left{
  color: rgb(188, 222, 243);
}
.fc-corner-right{
  background-color: rgb(245, 202, 202);
}

// 土日色付け
td.fc-sat {
  background-color: #eaf4ff;
}
td.fc-sun {
  background-color: #ffeaea;
}
.fc-view{
  padding: 0px 15px;
}
.new_event{
  padding: 10px 10px 20px 20px;
}
.New-registration{
  width: 40vw;
  margin: 60px auto;
  text-align: center;
  padding: 20px;
}
.font{
  font-size: 15px;
  margin: 10px 0px 10px 0px;
}
.registration-text{
  height: 6vh;
  width: 30vw;
  margin-bottom: 20px;
  padding: 15px;
  font-weight: bold;
}

.Show-title{
  margin: 10px 0px 10px 0px;
  font-size: 15px;
  padding: 0px 0px 0px 10px;
}
.show-text{
  margin: 20px 0px 10px 20px;
}
