
.fc-center{
  font-size: 50px;
}
.List{
  font-size: 15px;
  font-weight: bold;
}
.New-content{
  font-size: large;
  font-weight: bold;
  margin-bottom: 10px;
}
.fc-corner-left{
  color: rgb(188, 222, 243);
}
.fc-corner-right{
  background-color: rgb(245, 202, 202);
}

// 土日色付け
td.fc-sat {
  background-color: #eaf4ff;
}
td.fc-sun {
  background-color: #ffeaea;
}



