*{
  box-sizing: border-box;
}
.AccountPage {
  width: 70vw;
  margin: 60px auto;
  padding: 60px;
  background-color: rgb(229, 249, 247);
  border: 3px solid blue;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}
.AccountPage__title{
  border: solid 2px blue;
  background-color: #fff;
  width: 30vw;
  height: 20vh;
  .User-title{
    color: blue;
    font-size: 35px;
    margin: 15px 10px 10px 20px;
  }
  .Sub-title{
    font-weight: bold;
    margin: 20px 10px 10px 20px;
    font-size: 17px;
  }
}
.Button{
  margin: 0px 10px 10px 20px;
  font-size: 20px;
}
.FormField{
  &__input--normal{
    margin: 10px;
  }
}
#user_name{
  height: 5vh;
  width: 20vw;
  margin: 10px 0px 10px 0px;
  padding-left: 10px;
}
#user_email{
  height: 5vh;
  width: 20vw;
  margin: 10px 0px 10px 0px;
  padding-left: 10px;
}
#user_password{
  height: 5vh;
  width: 20vw;
  margin: 10px 0px 10px 0px;
  padding-left: 10px;
}
#user_password_confirmation{
  height: 5vh;
  width: 20vw;
  margin: 10px 0px 10px 0px;
  padding-left: 10px;
}
.UserButton{
  width: 5vw;
  margin: 10px 0px 0px 10px;
}
.around-body{
  background-color: green;
}
.FormField__label--normal{
  font-weight: bold;
  font-size: 18px;
}